name: Generate nodetime binaries

# The reason this is workflow is set up to only run on changes to source code is:
# 1. It is currently 'impossible' to build a deterministic binary (equal hash from equal code)
#    due to the way bytecode generation works in pkg. pkg has a --no-bytecode option, but it won't run because we include bytecode
#    binaries like tsc in our build, and it therefore complains that we are including bytecode in a non-bytecode build.
# 2. It should not be necessary to run it in any other scenarios as the only way the nodetime executable changes
#    is when we make changes to the source code itself (including updating dependencies).

on:
  push:
    branches:
      - main # Change back to develop
    paths:
      - "scripts/data/gen-nodetime/**"
      - "scripts/gen-nodetime"

jobs:
  build-nodetime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - uses: MOZGIII/install-ldid-action@v1
        with:
          tag: v2.1.5-procursus2
          
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          
      - run: ./scripts/gen-nodetime

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          title: "feat(pkg/nodetime): update binaries"
          commit-message: "feat(pkg/nodetime): update binaries"
          body: "Update the nodetime binaries"
          branch: feat/gen-nodetime