name: The executables

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-it-in-nodetime:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Set up QEMU
        id: qemu
        uses: docker/setup-qemu-action@v1
        with:
          image: tonistiigi/binfmt:latest
          platforms: all

      - uses: MOZGIII/install-ldid-action@v1
        with:
          tag: v2.1.5-procursus2
          
      - uses: actions/setup-node@v2
        with:
          node-version: '14'
          
      - run: ./scripts/gen-nodetime

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v3
        with:
          title: "feat(pkg/nodetime): update binaries"
          commit-message: "feat(pkg/nodetime): update binaries"
          body: ""
          branch: feat/gen-nodetime

  protoc-it-up:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: dsaltares/fetch-gh-release-asset@master
        id: download-x64
        with:
          repo: "https://github.com/protocolbuffers/protobuf"
          version: "latest"
          file: "protoc-\\d+\\.\\d+\\.\\d+-linux-x86_64\\.zip"
          regex: true

      - name: Check outputs
        run: |
          echo "Version: ${{ steps.download-x64.outputs.version }}"
          echo "Body: ${{ steps.download-x64.outputs.body }}"

  play-some-dart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
